body{
  margin: 0;
}
* {box-sizing: border-box}
.container {
  padding: 16px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: rgb(49, 51, 49);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.registerbtn:hover {
  opacity:1;
}
a {
  color: dodgerblue;
}


.back-button {
  background-color: #1b1f1b;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  transition: color 0.3s linear;
}
.back-button:hover {
    background-color:#404140;
  }
